<app-header></app-header>
<section class="container" id="landing_box">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div id="calendar_section">
        <div id="calendar_icon">
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div id="calendar_text">
          <h5 id="calendar_tittle">Visualiza tu horario y eventos</h5>
          <p id="calendar_description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi, delectus ea est.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <app-login-page></app-login-page>
    </div>
    <div class="col-md-4 col-sm-12">
      <div id="meeting_section">
        <div id="meeting_icon">
          <i class="fas fa-users"></i>
        </div>
        <div id="meeting_text">
          <h5 id="meeting_tittle">Organiza tus reuniones rápidamente</h5>
          <p id="meeting_description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
