<button type="button" class="btn btn-success" data-toggle="modal" data-target="#register_user_modal">
  Registrar nuevo usuario
</button>
<div class="modal fade" id="register_user_modal" tabindex="-1" role="dialog" aria-labelledby="modal_tittle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header green">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-register-form></app-register-form>
      </div>
    </div>
  </div>
</div>